@import "tailwindcss";

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-input {
  width: 100%;
  border: 1px solid #e5e7eb; 
  border-radius: 8px;
  padding: 8px 12px;
  margin-top: 4px;
  outline: none;
  transition: border 0.2s ease;
}

.form-input:focus {
  border-color: #D9176C;
}

.form-error {
  font-size: 12px;
  color: #ef4444; 
  margin-top: 4px;
}